<nav>
  <ul class ="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home </a></li>
    <li><a href="{{site.baseurl}}/about/" class="{% if page.url == '/about.html' %}current{% endif %}" > About </a></li>
    <li><a href="{{site.baseurl}}/posts/" class="{% if page.url contains 'posts' or page.url contains 'visualizations' or page.url contains 'mycontent' %}current{% endif %}">New Posts </a></li>
    <li><a href="{{site.baseurl}}/tutorials/" class="{% if page.url contains 'tutorials' or page.url contains 'tool' %}current{% endif %}"> Tutorials </a></li>
    </hgroup>
  </ul>
</nav>
