.masthead {
  padding: 1em;
  background: #000531 URL("../img/people.jpg") center ;
  background-size: cover;
}

.masthead-about {
  padding: 1em;
  background: #000531 URL("../img/SFCity.jpg") center;
  background-size: cover;
}

div.transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

div.transbox p {
    margin: 2%;
    font-weight: bold;
    color: #000000;
}
