<!DOCTYPE html>
<html lang='en-ca'>
<head>
  <meta charset ='utf-8'>
  <title> {% if page.title %} {{page.title}} • {% endif %} People by the Numbers {% if page.titleAfter %} • {{page.titleAfter}}  {% endif %}  </title>
  <link href ="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
</head>
<body>

<header class="masthead {{page.mastheadClass}}" >
  <div class="transbox">
    <p><h1> People by the Numbers </h1></p>
  {% include nav.html navclass ='nav-top' %}
</div>
</header>

{{content}}

<footer>
  <br>
  {% include nav.html navclass ='nav-bottom' %}
  <p> 2017 People by the Numbers </p>
</footer>
</body>
</html>
